##{{ ansible_managed }}
{% set data = {} %}
{% for fragment in fragments['list'] %}
{% if not fragment.proxy_pass in data %}
{% set _ = data.update({fragment.proxy_pass: "1"}) %}
  upstream {{ fragment.proxy_pass }} {
{% if 'server' in fragment %}
    server {{ fragment['server'] }};
{% else %}
    server 127.0.0.1:{{ consul_services[fragment.proxy_pass]['local_port'] }};
{% endif %}
  }
{% endif %}
{% endfor %}
