##{{ ansible_managed }}
{% for fragment in fragments['list'] %}
  location {{ fragment.path }} {
{% if( (fragment.server is defined) and (kubenv is defined) ) %}
    proxy_pass http://{{ fragment.server }};
{% else %}
    proxy_pass http://{{ fragment.proxy_pass }};
{% endif %}
{% set combined_config = fragments['common_config'] %}
{% set _ = combined_config.update(fragment) %}
{% for key, value in combined_config.iteritems() %}
{% if key in ['proxy_pass', 'path', 'server'] %}
{% else %}
{% if value is iterable and value is not string %}
{% for array_value in value %}
    {{ key }} {{ array_value }};
{% endfor %}
{% else %}
    {{ key }} {{ value }};
{% endif %}
{% endif %}
{% endfor %}
  }

{% endfor %}
